body {
}

a {
    text-decoration: none;
    color: #fff;
}

.hide {
    text-indent: -9999px;
    display: inline-block;
    width: 1px;
    height: 1px;
}

.clear::after {
    clear: both;
    display: block;
    content: '';
    overflow: hidden;
}

.gnb {
    width: 100%;
    height: 50px;
    font-size: 13px;
    background: url(./images/isMain_mvisMask_30.png) repeat-x;

}

.top_wrap {
    width: 95%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.li_left {
    float: left;
    padding-left: 8px;
}

.li_left:first-child {
    padding-left: 0;
}

.li_left:first-child::after {
    content: '|';
    padding-left: 10px;
    color: #fff;
}

.ul_right {
    float: right;

}

.ul_right > li  {
    padding-left: 15px;
    float: left;
}

.language::before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(./images/toputil_r_blt.png)no-repeat 0px 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 0;
    cursor: pointer;

}

.language::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 3px;
    background: url(./images/toputil_r_blt.png)no-repeat -15px 0;
    vertical-align: middle;
    margin: 0 0 0 3px;
    cursor: pointer;
}

.ul_right > button {
    background: none;
    border: none;
    width: 50px;
    height: 20px;
}

.hamburger::before {
    content: '';
    background: url(./images/toputil_r_blt.png) no-repeat -54px 0;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
    margin: 20px 0 0px 10px;   
    padding: 0;
}

.search::before {
    content: '';
    background: url(./images/toputil_r_blt.png) no-repeat -68px 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin: 18px 0 0 -5px;
    padding: 0;
}

#header {
    background: url(./images/isMain_mvisMask_30.png) repeat-x left top;
    width: 100%;
    border-top: 1px solid #fff;
    height: 125px;
    line-height: 110px;

}

h1 {
    float: left;
}

h2 {
    float: left;
}

h1 img {
    margin: 0 0 0 -28px;
}

#header {
    width: 100%;
}


.header_wrap {
    width: 92%;
    margin: 0 auto;
}

.nav_menu {
    display: inline-block;
    margin-left: 25%;
    font-size: 19px;
    height: 85px;
    line-height: 85px;

}

.nav_menu > li {
    float: left;
    max-width: 1500px;
    padding-left: 30px;
    margin: 0 35px 0 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);

}

.button_slide01 {
    background: url(./images/Rn1kSTnsclbwmn9D.JPG) no-repeat 50% 100%;
    width: 100%;
    height: 500px;
    display: inline-block;
}

.border {
    font-weight: bold;
    font-size: 30px;
}

.border::before {
    content: '';
    width: 31px;
    height: 4px;
    background-color: #00be94;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
}

.text_box {
    position: relative;
    width: 43%;
    max-width: 500px;
    height: 282px;
    background-color: rgba(0, 0, 0, .68);
    color: #fff;
    margin: 3% 0 0 10%;
    padding: 50px 0 0 30px;
    box-sizing: border-box;
}

.text_box p {
    font-size: 16px;
    margin: 20px 1px 0;
    letter-spacing: 2px;
}

.more {
    float: right;
    margin-right: 30px;
}

.more img {
    position: relative;
    top: 13px;
}

.button_slide_wrap {
    width: 80%;
    height: 50px;
    margin: 0 auto;
}


.button_slide_wrap > div {
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);
    display: inline-block;
    width: 250px;
    /* background-color: #0067d4; */
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 0 0 5%;
    font-size: 16px;
    background: rgba(153, 153, 153, .5)


}

.button_text {
    font-size: 16px;
    display: block;
    text-shadow: none;
    margin: -100px 0 0 0;
    height: 100px;
    line-height: 100px;
    color: #fff;

}


.button_text:hover {
    background: rgba(0, 0, 0, .68);
    cursor: pointer;
    transition: all .3s ease;

}

.q_link img {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: -45px;
    left: 0;
}

.quick_bar {
    position: fixed;
    width: 100px;
    font-size: 13px;
    top: 87px;
    right: 40px;
    margin: 70px 0 0 0;
    z-index: 1;
}

.quick_bar_li_01 {
    background-color: #333;
    height: 39px;
    text-align: center;
    line-height: 39px;
    margin: 0 0 2px 0;
}

.quick_bar_li_01:hover {
    background-color: #ff9000;
}

.quick_bar02 {
    margin: 7px 0 0 0;
}

.quick_bar_li_02 {
    background-color: #018fea;
    height: 39px;
    text-align: center;
    line-height: 39px;
    margin: 0 0 2px 0;
}

.quick_bar_li_02:hover {
    text-decoration: underline;
}

.bord_wrap {
    width: 1700px;
    margin: 0 auto;
}

.news_wrap {
    position: relative;
    background: url(./images/mcon2_bg1.jpg) no-repeat;
    background-size: cover;
    height: 561px;
    margin-top: 100px; 
    overflow: hidden;


}

.stemp_01 {
    background: url(./images/mcon2_bg2.png) no-repeat;
    width: 561px;
    height: 561px;
    margin: -500px 0 0 0px;
    
}

.stemp_02 {
    background: url(./images/mcon2_bg3.png) no-repeat;
    width: 76px;
    height: 76px;
    position: absolute;
    top: 0;
    left: 1200px;
}

.stemp_03 {
    background: url(./images/mcon2_bg4.png) no-repeat;
    width: 185px;
    height: 152px;
    position: absolute;
    top: 407px;
    left: 1200px;
}

.news_font {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.font_01 {
    color: #fff;
    font-size: 45px;
    display: block;
    margin-bottom: 20px;

}

.font_02 {
    color: #fff;
    font-size: 30px;
}

.news_bord {
    width: 470px;
    height: 330px;
    margin: 30px 0 0 100px;
    position: relative;
    float: left;
    
}

.news_text {
    position: absolute;
    top: 30px;
    left: 20px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);
}

.news_text_01 {
    color: #fff;
    font-size: 20px;
}

.news_text_02 {
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 25px;
}

.news_box {
    width: 470px;
    height: 90px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 240px;
    left: 0;

}

.news_box_font {
    position: absolute;
    top: 15px;
    left: 15px;
}

.news_box_font01 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.news_box_font02 {
    display: block;
    color: #fff;
    padding-top: 15px;
}

.news_box_ctr button {
    border: none;
    background-color: #aabbcd;
    cursor: pointer;

}


.news_box_ctr {
    position: absolute;
    right: 41px;
    top: 41px;
}

.news_prev::after {
    content: '';
    width: 16px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 5px;
    background: url(./images/mcon2_sprite.png) no-repeat;

}

.news_next::after {
    content: '';
    width: 16px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 35px;
    background: url(./images/mcon2_sprite.png) no-repeat -15px 0px;
} 

.news_hamb::after {
    content: '';
    width: 16px;
    height: 12px;
    background: url(./images/mcon2_sprite.png) no-repeat -32px 0px;
    position: absolute;
    top: 4px;
    left: 67px;
}

.notice_wrap {
    position: relative;
}

.notice_bord {
    float: left;
    margin: 30px 0 0 40px;
    background-color: #fff;
}

.notice_ul li {
    float: left;
    border: 1px solid #999;
    border-top: none;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: -1px;
    font-weight: bold;
    font-size: 14px;
}

.notice_ul li a {
    color: #999;
}

.notice_ul li:first-child {
    border-left: none;
}

.notice_ul li:last-child {
    border-left: none;
    width: 75px;
}

.notice_button {
    border: none;
    background: none;
}

.notice_06 {
    cursor: pointer;
}

.notice_06::before {
    content: '';
    width: 16px;
    height: 14px;
    display: inline-block;
    background: url(./images/mcon2_sprite.png) no-repeat -24px -12px;
    position: absolute;
    top: 172px;
    left: 1494px;

}


.notice_list_wrap {
    clear: both;
    width: 829px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 206px;
    left: 610px;
}

.notice_list_ul li {
    margin: 30px 0 0 50px; 
}

.notice_list_ul li::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #999;
    position: absolute;
    top: 37px;
    left: 25px;

}

.blue_font {
    color: #0067d4;
}

.history_bg {
    background-color: yellow;
    /* background-color: #e5e5e5; */
    height: 500px;

}

.history_wrap {
    width: 90%;
    margin: 0 auto;

}

.history_ul li {
    float: left;
    width: 19%;
    margin-left: 10px;
    height: 230px;
}

.history_ul li:first-child {
    margin: 0;
}

.history_ul li img {
    width: 100%;
}

.history_li_01 {
    position: relative;
}

.history_font_01 {
    color: #000;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
}

.history_li_02 {
    background-color: #fff;
    position: relative;

}

.history_li_02 img {
    position: absolute;
    top: 80px;
    left: 0;
    height: 150px;
}

.history_font_02 {
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 30px;
    left: 10px;
    color: #fff;
}

.history_font_03 {
    color: #000;
    position: absolute;
    top: 10px;
    left: 10px; 
    font-weight: bold;
   

}

.history_font_04 {
    color: #000;
    display: block;
    padding: 35px 0 24px 10px;
    font-weight: bold;
}

.underline {
    position: absolute;
    top: 80%;
    left: 10px;
}

.underline:hover {
    text-decoration: underline;
}

