body {
}

a {
    text-decoration: none;
    color: #fff;
}

.hide {
    text-indent: -9999px;
    display: inline-block;
}

.clear::after {
    clear: both;
    display: block;
    content: '';
    overflow: hidden;
}

.gnb {
    width: 100%;
    height: 50px;
    font-size: 13px;
    background: url(./images/isMain_mvisMask_30.png) repeat-x;
    padding: 0 30px 0 30px;

}

.top_wrap {
    width: 1500px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.li_left {
    float: left;
    padding-left: 8px;
}

.li_left:first-child {
    padding-left: 0;
}

.li_left:first-child::after {
    content: '|';
    padding-left: 10px;
    color: #fff;
}

.ul_right {
    float: right;

}

.ul_right > li  {
    padding-left: 15px;
    float: left;
}

.language::before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(./images/toputil_r_blt.png)no-repeat 0px 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 0;
    cursor: pointer;

}

.language::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 3px;
    background: url(./images/toputil_r_blt.png)no-repeat -15px 0;
    vertical-align: middle;
    margin: 0 0 0 3px;
    cursor: pointer;
}

.ul_right > button {
    background: none;
    border: none;
    width: 50px;
    height: 20px;
}

.hamburger::before {
    content: '';
    background: url(./images/toputil_r_blt.png) no-repeat -54px 0;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
    margin: 20px 0 0px 10px;   
    padding: 0;
}

.search::before {
    content: '';
    background: url(./images/toputil_r_blt.png) no-repeat -68px 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin: 18px 0 0 -5px;
    padding: 0;
}

#header {
    background: url(./images/isMain_mvisMask_30.png) repeat-x left top;
    width: 100%;
    border-top: 1px solid #fff;
    height: 125px;
    line-height: 110px;
    padding: 0 30px 0 30px;

}

h1 {
    float: left;
}

h2 {
    float: left;
}

h1 img {
    margin: 0 0 0 -28px;
}


.header_wrap {
    width: 82%;
    margin: 0 auto;
}

.nav_menu {
    float: right;
    max-width: 1500px;
    font-size: 19px;
    height: 85px;
    line-height: 85px;

}

.nav_menu > li {
    float: left;
    max-width: 1500px;
    padding-left: 30px;
    margin: 0 35px 0 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);

}

.button_slide01 {
    background: url(./images/Rn1kSTnsclbwmn9D.JPG) no-repeat 50% 100%;
    width: 100%;
    height: 500px;
    display: inline-block;
}

.border {
    font-weight: bold;
    font-size: 30px;
}

.border::before {
    content: '';
    width: 31px;
    height: 4px;
    background-color: #00be94;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
}

.text_box {
    position: relative;
    width: 43%;
    max-width: 500px;
    height: 282px;
    background-color: rgba(0, 0, 0, .68);
    color: #fff;
    margin: 3% 0 0 10%;
    padding: 50px 0 0 30px;
    box-sizing: border-box;
}

.text_box p {
    font-size: 16px;
    margin: 20px 1px 0;
    letter-spacing: 2px;
}

.more {
    float: right;
    margin-right: 30px;
}

.more img {
    position: relative;
    top: 13px;
}

.button_slide_wrap {
    width: 1500px;
    height: 50px;
    margin: -50px auto 0;
}


.button_slide_wrap > div {
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);
    display: inline-block;
    width: 250px;
    /* background-color: #0067d4; */
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 0 0 6.5%;
    font-size: 16px;
    background: rgba(153, 153, 153, .5)


}

.button_text {
    font-size: 16px;
    display: block;
    text-shadow: none;
    margin: -100px 0 0 0;
    height: 100px;
    line-height: 100px;
    color: #fff;

}


.button_text:hover {
    background: rgba(0, 0, 0, .68);
    cursor: pointer;
    transition: all .3s ease;

}

.q_link img {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: -45px;
    left: 0;
}

.quick_bar {
    position: fixed;
    width: 100px;
    font-size: 13px;
    top: 87px;
    right: 40px;
    margin: 70px 0 0 0;
}

.quick_bar_li_01 {
    background-color: #333;
    height: 39px;
    text-align: center;
    line-height: 39px;
    margin: 0 0 2px 0;
}

.quick_bar_li_01:hover {
    background-color: #ff9000;
}

.quick_bar02 {
    margin: 7px 0 0 0;
}

.quick_bar_li_02 {
    background-color: #018fea;
    height: 39px;
    text-align: center;
    line-height: 39px;
    margin: 0 0 2px 0;
}

.quick_bar_li_02:hover {
    text-decoration: underline;
}